* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; 
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }


  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    color: #794f41 ;
  }

  .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }
  
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }


.pre {
    padding: 0;
    margin: 0;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #9bcb65;
  }

  .main-title{
    font-size: 32px;
  }

  .section-profile{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
  }

  .rss {
    width: 121px;
    height: 45px;
    background-image: url("https://rs.school/images/rs_school.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #794f41;
}

.footer {
    background-color: #9bcb65;
    padding: 20px;
}

